.social {
	position: relative;
	z-index: 7;
	display: flex;
	justify-content: space-between;
	width: 100%;
	overflow: auto;

	@media screen and (max-width: 575px) {
		gap: 7px;
		margin-top: 0;
	}
	@media screen and (max-width: 560px) {
		overflow: auto;
	}
	svg {
		min-width: 80px;
	}
	path {
		transition: all 0.1s ease-in-out;
	}
}
