@import "../variables.scss";

@keyframes noti {
	from {
		margin-right: -650px;
	}
	to {
		margin-right: -50px;
	}
}

//
@keyframes aniTwo {
	0% {
		left: 585px;
	}
	50% {
		left: 0;
	}
	51% {
	}
	100% {
	}
}

@keyframes aniOne {
	0% {
		opacity: 0;
	}
	50% {
	}
	51% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// ani data

@keyframes aniDataOne {
	0% {
		left: -425px;
	}
	50% {
		left: 0;
	}
	51% {
	}
	100% {
	}
}

@keyframes aniDataTwo {
	0% {
		opacity: 0;
	}
	50% {
	}
	51% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
