@import "../variables.scss";
@import "./OpportunitiesAni.scss";

.container {
	overflow: hidden;
	position: relative;
	max-width: 1440px;
	width: calc(100% - 200px);
	padding: 60px;
	margin: 0 auto;
	margin-top: 120px;
	background: $white;
	-webkit-box-shadow: 20px 34px 59px 7px rgba(0, 25, 225, 0.05);
	box-shadow: 20px 34px 59px 7px rgba(0, 25, 225, 0.05);
	border-radius: 20px;
	@media screen and (max-width: 1285px) {
		width: calc(100% - 100px);
	}

	@media screen and (max-width: 1050px) {
		width: calc(100% - 60px);
		padding: 40px;
	}
	@media screen and (max-width: 992px) {
		margin: 0;
	}
	@media screen and (max-width: 768px) {
		width: calc(100% - 60px);
		padding: 20px;
	}
	@media screen and (max-width: 575px) {
		padding: 30px;
	}

	@media screen and (max-width: 560px) {
		width: calc(100% - 36px);
		overflow: visible;
		box-shadow: none;
		padding: 10px;
		margin: 0 auto;
	}

	&__title {
		p {
			font-weight: 500;
			font-size: 14px;
			line-height: 130%;
			letter-spacing: 0.003em;
			color: $primary-main;
		}
		h2 {
			font-size: 42px;
			line-height: 120%;
			letter-spacing: 0.003em;
			color: $color-text;

			@media screen and (max-width: 768px) {
				margin-top: 4px;
				font-size: 23px;
				line-height: 120%;
			}
		}
	}
	.opportunities {
		display: flex;
		flex-direction: column;
		gap: 60px;
		position: relative;
		z-index: 6;
		width: 100%;

		.data {
			display: flex;
			justify-content: space-between;
			@media screen and (max-width: 560px) {
				flex-direction: column-reverse;
			}
			.blockBlur__data {
				position: absolute;
				z-index: 1;
				width: 520px;
				height: 520px;
				left: -260px;
				top: 1250px;
				background: linear-gradient(45.12deg, #7aafff 7.03%, #642dff 98.91%);
				opacity: 0.25;
				filter: blur(112px);
				@media screen and (max-width: 768px) {
					display: none;
				}
			}
			.data__left {
				width: 464px;
				position: relative;
				z-index: 7;
				@media screen and (max-width: 1200px) {
					width: 345px;
				}
				@media screen and (max-width: 768px) {
					width: 175px;
				}
				@media screen and (max-width: 560px) {
					height: 217px;
					width: 320px;
					margin: 0 auto;
				}
				@media screen and (max-width: 420px) {
					width: 305px;
				}
				img {
					animation: aniDataOne 1s linear;
					position: absolute;
					width: 360px;

					@media screen and (max-width: 1200px) {
						margin-left: -120px;
					}
					@media screen and (max-width: 992px) {
						margin-left: -60px;
					}
					@media screen and (max-width: 900px) {
						width: 290px;
					}
					@media screen and (max-width: 768px) {
						margin-left: -165px;
					}
					@media screen and (max-width: 575px) {
						width: 260px;
					}
					@media screen and (max-width: 560px) {
						margin-left: 0;
					}
					@media screen and (max-width: 420px) {
						margin-left: -50px;
					}
				}

				.checked__one {
					animation: aniDataTwo 1s linear;
					position: absolute;
					top: 70px;
					right: 0;
					display: flex;
					align-items: center;
					gap: 6.47px;
					padding: 16.1875px 12.95px;
					border: 0.81px solid #7aafff;
					width: 259px;
					height: 48.56px;
					background: $white;
					box-shadow: 20px 34px 59px 7px rgba(0, 25, 225, 0.05);
					border-radius: 12.95px;
					@media screen and (max-width: 1290px) {
						width: 220px;
						right: 40px;
					}
					@media screen and (max-width: 992px) {
						right: -25px;
					}
					@media screen and (max-width: 900px) {
						width: 170px;
						top: 50px;
						right: 75px;
					}
					@media screen and (max-width: 768px) {
						right: 0;
					}
					@media screen and (max-width: 575px) {
						gap: 4.6px;
						padding: 11.7136px 9.37091px;
						width: 136px;
						right: 50px;
					}
					@media screen and (max-width: 560px) {
						right: 0;
					}
					@media screen and (max-width: 420px) {
						right: -40px;
					}
					.checked {
						width: 12.95px;
						height: 12.95px;
						border: 0.809375px solid $color-text;
						border-radius: 27.5187px;
						@media screen and (max-width: 575px) {
							border: 0.585682px solid #1e1e1e;
							border-radius: 19.9132px;
							width: 9.37px;
							height: 9.37px;
						}
					}
					p {
						font-size: 12.95px;
						line-height: 120%;
						letter-spacing: 0.003em;
						color: $color-text;
						@media screen and (max-width: 575px) {
							font-size: 9.37091px;
						}
					}
				}
				.checked__two {
					animation: aniDataTwo 1s linear;
					position: absolute;
					top: 127px;
					right: 0;
					display: flex;
					align-items: center;
					gap: 6.47px;
					padding: 16.1875px 12.95px;
					border: 0.81px solid #7aafff;
					width: 259px;
					height: 48.56px;
					background: $white;
					box-shadow: 20px 34px 59px 7px rgba(0, 25, 225, 0.05);
					border-radius: 12.95px;
					@media screen and (max-width: 1290px) {
						width: 220px;
						right: 40px;
					}
					@media screen and (max-width: 992px) {
						right: -25px;
					}
					@media screen and (max-width: 900px) {
						width: 170px;
						top: 105px;
						right: 75px;
					}
					@media screen and (max-width: 768px) {
						right: 0;
					}
					@media screen and (max-width: 575px) {
						gap: 4.6px;
						padding: 11.7136px 9.37091px;
						width: 136px;
						right: 50px;
					}
					@media screen and (max-width: 560px) {
						right: 0;
					}
					@media screen and (max-width: 420px) {
						right: -40px;
					}
					.checked {
						width: 12.95px;
						height: 12.95px;
						border: 0.809375px solid $color-text;
						border-radius: 27.5187px;
						@media screen and (max-width: 575px) {
							border: 0.585682px solid #1e1e1e;
							border-radius: 19.9132px;
							width: 9.37px;
							height: 9.37px;
						}
					}
					p {
						font-size: 12.95px;
						line-height: 120%;
						letter-spacing: 0.003em;
						color: $color-text;
						@media screen and (max-width: 575px) {
							font-size: 9.37091px;
						}
					}
				}
			}
			.data__right {
				width: 490px;
				position: relative;
				z-index: 7;
				@media screen and (max-width: 992px) {
					width: 400px;
				}
				@media screen and (max-width: 768px) {
					width: 280px;
				}
				@media screen and (max-width: 560px) {
					width: 100%;
				}
				.data__icon {
					padding: 11px;
					width: 54px;
					height: 54px;
					background: $primary-main;
					box-shadow: 0px 3px 24px rgba(116, 139, 255, 0.51), inset 3px 4px 7px rgba(255, 255, 255, 0.31);
					border-radius: 40px;
					margin-bottom: 40px;
					@media screen and (max-width: 768px) {
						margin-bottom: 30px;
						padding: 10px;
						width: 44px;
						height: 44px;
					}
					img {
						@media screen and (max-width: 768px) {
							width: 24px;
							height: 24px;
						}
					}
				}
				.data__block {
					p:first-child {
						font-weight: 500;
						font-size: 14px;
						line-height: 130%;
						letter-spacing: 0.003em;
						color: $primary-main;
						margin-bottom: 10px;
					}
					p:last-child {
						font-weight: 400;
						font-size: 16px;
						line-height: 120%;
						letter-spacing: 0.003em;
						color: $sub-title;
						@media screen and (max-width: 768px) {
							font-size: 14px;
						}
					}
					h2 {
						font-weight: 700;
						font-size: 32px;
						line-height: 120%;
						letter-spacing: 0.003em;
						color: $color-text;
						margin-bottom: 20px;
						@media screen and (max-width: 768px) {
							font-size: 18px;
							line-height: 120%;
						}
					}
				}
			}
		}
		.notification {
			position: relative;
			display: flex;
			justify-content: space-between;
			gap: 40px;
			width: 100%;
			@media screen and (max-width: 768px) {
				gap: 0;
			}
			@media screen and (max-width: 560px) {
				flex-direction: column;
			}
			.notification__left {
				width: 490px;
				@media screen and (max-width: 992px) {
					width: 400px;
				}
				@media screen and (max-width: 768px) {
					width: 280px;
				}

				.notification__icon {
					padding: 10px;
					width: 54px;
					height: 54px;
					background: $primary-main;
					box-shadow: 0px 3px 24px rgba(116, 139, 255, 0.51), inset 3px 4px 7px rgba(255, 255, 255, 0.31);
					border-radius: 40px;
					margin-bottom: 40px;
					@media screen and (max-width: 768px) {
						margin-bottom: 30px;
						padding: 10px;
						width: 44px;
						height: 44px;
					}
					img {
						@media screen and (max-width: 768px) {
							width: 24px;
							height: 24px;
						}
					}
				}
				.notification__block {
					p:first-child {
						font-weight: 500;
						font-size: 14px;
						line-height: 130%;
						letter-spacing: 0.003em;
						color: $primary-main;
						margin-bottom: 10px;
					}
					p:last-child {
						font-weight: 400;
						font-size: 16px;
						line-height: 120%;
						letter-spacing: 0.003em;
						color: $sub-title;
						@media screen and (max-width: 768px) {
							font-size: 14px;
						}
					}
					h2 {
						font-weight: 700;
						font-size: 32px;
						line-height: 120%;
						letter-spacing: 0.003em;
						color: $color-text;
						margin-bottom: 20px;
						@media screen and (max-width: 992px) {
							font-size: 23px;
							line-height: 120%;
						}
						@media screen and (max-width: 768px) {
							font-size: 18px;
						}
					}
				}
			}
			.notification__right {
				position: relative;
				width: 596px;
				animation: noti 0.7s linear;
				margin-right: -50px;
				@media screen and (max-width: 768px) {
					width: 320px;
				}
				@media screen and (max-width: 575px) {
					width: 220px;
				}
				@media screen and (max-width: 560px) {
					height: 250px;
				}
				img {
					width: 700px;
					@media screen and (max-width: 768px) {
						width: 600px;
					}
					@media screen and (max-width: 575px) {
						width: 460px;
					}
					@media screen and (max-width: 560px) {
						width: 550px;
					}
				}
				.notiOne {
					position: absolute;
					z-index: 6;
					top: 80px;
					@media screen and (max-width: 768px) {
						top: 75px;
					}
					@media screen and (max-width: 575px) {
						top: 112px;
					}
					@media screen and (max-width: 560px) {
						top: 72px;
					}
				}
				.notiTwo {
					position: absolute;
					z-index: 5;
					left: 25px;
					@media screen and (max-width: 575px) {
						left: 20px;
						top: 55px;
					}
					@media screen and (max-width: 560px) {
						top: 0;
					}
				}
			}
			.blockBlur__notification {
				position: absolute;
				z-index: 1;
				width: 520px;
				height: 520px;
				left: 837px;
				top: 108px;
				background: linear-gradient(113.48deg, #ff8de6 7.05%, #4c3fe7 105.43%);
				opacity: 0.25;
				filter: blur(112px);
				@media screen and (max-width: 768px) {
					left: 200px;
				}
				@media screen and (max-width: 560px) {
					display: none;
				}
			}
		}

		.blockBlur__opportunities {
			position: absolute;
			z-index: 1;
			width: 520px;
			height: 520px;
			left: 992px;
			top: 713px;
			background: linear-gradient(113.48deg, #ff8de6 7.05%, #4c3fe7 105.43%);
			opacity: 0.3;
			filter: blur(112px);
			@media screen and (max-width: 768px) {
				opacity: 0.2;
				left: 217px;
				top: 730px;
			}
			@media screen and (max-width: 560px) {
				display: none;
			}
		}
	}
	img {
		padding: 0;
	}

	.link {
		position: absolute;
		top: -100px;
	}
}
