@import "../variables.scss";

@keyframes noti {
	from {
		margin-right: -650px;
	}
	to {
		margin-right: -50px;
	}
}

@keyframes aniCardOne {
	0% {
		left: -320px;
	}
	33% {
		left: 290px;
	}
	34% {
	}
	100% {
	}
}

@keyframes aniCardOne1280 {
	0% {
		left: -247px;
	}
	33% {
		left: 264px;
	}
	34% {
	}
	100% {
	}
}

@keyframes aniCardOne992 {
	0% {
		left: -270px;
	}
	33% {
		left: 285px;
	}
	34% {
	}
	100% {
	}
}
@keyframes aniCardOne768 {
	0% {
		left: -77px;
	}
	33% {
		left: 145px;
	}
	34% {
	}
	100% {
	}
}
@keyframes aniCardOne560 {
	0% {
		left: -270px;
	}
	33% {
		left: 234px;
	}
	34% {
	}
	100% {
	}
}
@keyframes aniCardOne420 {
	0% {
		left: -270px;
	}
	33% {
		left: 192px;
	}
	34% {
	}
	100% {
	}
}
@keyframes aniCardOn320 {
	0% {
		left: -270px;
	}
	33% {
		left: 135px;
	}
	34% {
	}
	100% {
	}
}
//
@keyframes aniCardTwo {
	0% {
		left: -332px;
	}
	33% {
	}
	34% {
		left: -332px;
	}
	66% {
		left: 68px;
	}
	67% {
	}
	100% {
	}
}
@keyframes aniCardTwo1280 {
	0% {
		left: -246px;
	}
	33% {
	}
	34% {
		left: -246px;
	}
	66% {
		left: 67px;
	}
	67% {
	}
	100% {
	}
}
@keyframes aniCardTwo992 {
	0% {
		left: -140px;
	}
	33% {
		left: -140px;
	}
	34% {
	}
	66% {
		left: 90px;
	}
	100% {
	}
}

@keyframes aniCardTwo768 {
	0% {
		left: -77px;
	}
	33% {
		left: 145px;
	}
	34% {
	}
	66% {
	}
	100% {
	}
}
@keyframes aniCardTwo560 {
	0% {
		left: -305px;
	}
	33% {
	}
	34% {
	}
	66% {
		left: -305px;
	}
	100% {
		left: 15px;
	}
}

//

@keyframes aniCardThree {
	0% {
		left: -332px;
	}
	33% {
	}
	34% {
	}
	66% {
	}
	67% {
		left: -332px;
	}
	100% {
		left: 0;
	}
}
@keyframes aniCardThree1280 {
	0% {
		left: -285px;
	}
	33% {
	}
	34% {
	}
	66% {
	}
	67% {
		left: -285px;
	}
	100% {
		left: 0;
	}
}
@keyframes aniCardThree992 {
	0% {
		left: -195px;
	}
	33% {
	}
	34% {
	}
	66% {
	}
	67% {
		left: -195px;
	}
	100% {
		left: -15px;
	}
}
@keyframes aniCardThree970 {
	0% {
		left: -275px;
	}
	33% {
	}
	34% {
	}
	66% {
		left: -275px;
	}
	67% {
		left: -275px;
	}
	100% {
		left: -100px;
	}
}
@keyframes aniCardThree768 {
	0% {
		left: -77px;
	}
	33% {
		left: 145px;
	}
	34% {
	}
	66% {
	}
	67% {
	}
	100% {
	}
}

@keyframes aniCardThree560 {
	0% {
		left: -295px;
	}
	33% {
	}
	34% {
		left: -295px;
	}
	66% {
		left: 40px;
	}
	67% {
	}
	100% {
	}
}
@keyframes aniCardThree420 {
	0% {
		left: -295px;
	}
	33% {
	}
	34% {
		left: -295px;
	}
	66% {
		left: 30px;
	}
	67% {
	}
	100% {
	}
}
@keyframes aniCardThree320 {
	0% {
		left: -295px;
	}
	33% {
	}
	34% {
		left: -295px;
	}
	66% {
		left: 20px;
	}
	67% {
	}
	100% {
	}
}
//
@keyframes aniTwo {
	0% {
		left: 585px;
	}
	50% {
		left: 0;
	}
	51% {
	}
	100% {
	}
}

@keyframes aniOne {
	0% {
		opacity: 0;
	}
	50% {
	}
	51% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// ani data

@keyframes aniDataOne {
	0% {
		left: -425px;
	}
	50% {
		left: 0;
	}
	51% {
	}
	100% {
	}
}

@keyframes aniDataTwo {
	0% {
		opacity: 0;
	}
	50% {
	}
	51% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
