@import "../variables.scss";

@keyframes noti {
	from {
		margin-right: -650px;
	}
	to {
		margin-right: -50px;
	}
}

@keyframes aniCardOne {
	0% {
		left: -320px;
		top: 150px;
	}
	33% {
		left: 282px;
		top: 150px;
	}
	34% {
	}
	100% {
	}
}

@keyframes aniCardOne1280 {
	0% {
		left: -247px;

		top: 120px;
	}
	33% {
		left: 280px;
		top: 120px;
	}
	34% {
	}
	100% {
	}
}

@keyframes aniCardOne992 {
	0% {
		left: -270px;
		top: 131px;
	}
	33% {
		left: 274px;
		top: 131px;
	}
	34% {
	}
	100% {
	}
}
@keyframes aniCardOne768 {
	0% {
		left: -77px;
		top: 95px;
	}
	33% {
		left: 145px;
		top: 95px;
	}
	34% {
	}
	100% {
	}
}
@keyframes aniCardOne560 {
	0% {
		left: -270px;
	}
	33% {
		left: 234px;
		top: 115px;
	}
	34% {
	}
	100% {
	}
}
//
@keyframes aniCardTwo {
	0% {
		left: -332px;
	}
	33% {
	}
	34% {
		left: -332px;
	}
	66% {
		left: 40px;
	}
	67% {
	}
	100% {
	}
}
@keyframes aniCardTwo1280 {
	0% {
		left: -246px;
	}
	33% {
	}
	34% {
		left: -246px;
	}
	66% {
		left: 67px;
	}
	67% {
	}
	100% {
	}
}
@keyframes aniCardTwo992 {
	0% {
		left: -140px;
	}
	33% {
		left: -140px;
	}
	34% {
	}
	66% {
		left: 67px;
	}
	100% {
	}
}

@keyframes aniCardTwo768 {
	0% {
		left: -77px;
		top: 195px;
	}
	33% {
	}
	34% {
		left: -77px;
		top: 195px;
	}
	66% {
		left: 145px;
		top: 195px;
	}
	100% {
	}
}
@keyframes aniCardTwo560 {
	0% {
		left: -305px;
	}
	33% {
	}
	34% {
	}
	66% {
		left: -305px;
	}
	100% {
		left: 15px;
		top: 140px;
	}
}
//

@keyframes aniCardThree {
	0% {
		left: -332px;
	}
	33% {
	}
	34% {
	}
	66% {
	}
	67% {
		left: -332px;
	}
	100% {
		left: 0;
	}
}
@keyframes aniCardThree1280 {
	0% {
		left: -247px;
	}
	33% {
	}
	34% {
	}
	66% {
	}
	67% {
		left: -247px;
	}
	100% {
		left: 11px;
	}
}
@keyframes aniCardThree992 {
	0% {
		left: -195px;
		top: 150px;
	}
	33% {
	}
	34% {
	}
	66% {
	}
	67% {
		left: -195px;
		top: 150px;
	}
	100% {
		top: 150px;
		left: -15px;
	}
}
@keyframes aniCardThree970 {
	0% {
		left: -275px;
	}
	33% {
	}
	34% {
	}
	66% {
		left: -275px;
	}
	67% {
		left: -275px;
	}
	100% {
		top: 165px;
		left: -100px;
	}
}
@keyframes aniCardThree768 {
	0% {
		left: -77px;
	}
	33% {
	}
	34% {
	}
	66% {
	}
	67% {
		top: 0;
		left: -77px;
	}
	100% {
		left: 145px;
		top: 0;
	}
}

@keyframes aniCardThree560 {
	0% {
		left: -295px;
	}
	33% {
	}
	34% {
		left: -295px;
	}
	66% {
		left: 40px;
	}
	67% {
	}
	100% {
	}
}

@keyframes aniTwo {
	0% {
		left: 585px;
	}
	50% {
		left: 0;
	}
	51% {
	}
	100% {
	}
}

@keyframes aniOne {
	0% {
		opacity: 0;
	}
	50% {
	}
	51% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// ani data

@keyframes aniDataOne {
	0% {
		left: -425px;
	}
	50% {
		left: 0;
	}
	51% {
	}
	100% {
	}
}

@keyframes aniDataTwo {
	0% {
		opacity: 0;
	}
	50% {
	}
	51% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
